In [ ]:
zonas = pd.read_excel('Matrices/CÃ³digos de Zonas_tp.xlsx')

cargas = pd.read_excel('Matrices/Matrices Grupo Mineria_tp.xlsx')
cargas.drop('Unnamed: 0', axis=1, inplace=True)

df_distancias = pd.read_excel('Matrices/Matriz distancias_tp_1.xlsx')
df_distancias.drop('Unnamed: 0', axis=1, inplace=True)

criterio=pd.read_excel('Matrices/Criterios de derivabilidad_tp.xlsx', sheet_name='MINERIA')

In [ ]:
cargas

In [ ]:
cargas.iat[0,1]

In [ ]:
cargas[1][0]

##### conjunto['Carga'] = df_producto[(y+1)][x]

In [ ]:
df_distancias

In [ ]:
df_distancias.iat[2,1]

In [ ]:
zonas

In [ ]:
zonas.iat[0,3]

In [ ]:
criterio

In [ ]:
criterio.iat[0,0]

In [ ]:
lista_cargas = [{'Origen': 'OLAVARRIA',
  'ID origen': 1,
  'Destino': 'OLAVARRIA',
  'ID destino': 1,
  'Carga': 39319,
  'Distancia': 0},
 {'Origen': 'CABA',
  'ID origen': 2,
  'Destino': 'OLAVARRIA',
  'ID destino': 1,
  'Carga': 0,
  'Distancia': 0},
 {'Origen': 'LA CARLOTA',
  'ID origen': 3,
  'Destino': 'OLAVARRIA',
  'ID destino': 1,
  'Carga': 16948,
  'Distancia': 0},
 {'Origen': 'VENADO TUERTO',
  'ID origen': 4,
  'Destino': 'OLAVARRIA',
  'ID destino': 1,
  'Carga': 275000,
  'Distancia': 0},
 {'Origen': 'OLAVARRIA',
  'ID origen': 1,
  'Destino': 'CABA',
  'ID destino': 2,
  'Carga': 133000,
  'Distancia': 500},
 {'Origen': 'CABA',
  'ID origen': 2,
  'Destino': 'CABA',
  'ID destino': 2,
  'Carga': 34000,
  'Distancia': 0},
 {'Origen': 'LA CARLOTA',
  'ID origen': 3,
  'Destino': 'CABA',
  'ID destino': 2,
  'Carga': 1325674,
  'Distancia': 750},
 {'Origen': 'VENADO TUERTO',
  'ID origen': 4,
  'Destino': 'CABA',
  'ID destino': 2,
  'Carga': 12000000,
  'Distancia': 200},
 {'Origen': 'OLAVARRIA',
  'ID origen': 1,
  'Destino': 'LA CARLOTA',
  'ID destino': 3,
  'Carga': 1300,
  'Distancia': 0},
 {'Origen': 'CABA',
  'ID origen': 2,
  'Destino': 'LA CARLOTA',
  'ID destino': 3,
  'Carga': 2200,
  'Distancia': 0},
 {'Origen': 'LA CARLOTA',
  'ID origen': 3,
  'Destino': 'LA CARLOTA',
  'ID destino': 3,
  'Carga': 4200000,
  'Distancia': 0},
 {'Origen': 'VENADO TUERTO',
  'ID origen': 4,
  'Destino': 'LA CARLOTA',
  'ID destino': 3,
  'Carga': 0,
  'Distancia': 0},
 {'Origen': 'OLAVARRIA',
  'ID origen': 1,
  'Destino': 'VENADO TUERTO',
  'ID destino': 4,
  'Carga': 50000,
  'Distancia': 0},
 {'Origen': 'CABA',
  'ID origen': 2,
  'Destino': 'VENADO TUERTO',
  'ID destino': 4,
  'Carga': 15000,
  'Distancia': 0},
 {'Origen': 'LA CARLOTA',
  'ID origen': 3,
  'Destino': 'VENADO TUERTO',
  'ID destino': 4,
  'Carga': 65000,
  'Distancia': 0},
 {'Origen': 'VENADO TUERTO',
  'ID origen': 4,
  'Destino': 'VENADO TUERTO',
  'ID destino': 4,
  'Carga': 10000,
  'Distancia': 0}]

In [ ]:
derivable = []
for i in lista_cargas:
        conjunto = {}
        conjunto['Origen'] = i['Origen']
        conjunto['ID origen'] = i['ID origen']
        conjunto['Distancia'] = i['Distancia']
        conjunto['ID destino'] = i['ID destino']
        conjunto['Destino'] = i['Destino']
        derivable.append(conjunto)

In [ ]:
derivable[2]

In [ ]:
lista=[{'luis':'jugador','carlos':'2'},{'luis':'maestra','carlos':'3'}]

In [ ]:
listalc=[{'luis':'jugador','carlos':'4'},{'luis':'maestra','carlos':'10'}]




dr=[]
for i in lista:
    con={}
    con['luis'] = i['luis']
    con['carlos'] = i['carlos']
    dr.append(con)
    

dr

lista[1]

###### data_c = [ {'A': 5, 'B': 0, 'C': 3, 'D': 3}, {'A': 7, 'B': 9, 'C': 3, 'D': 5}, {'A': 2, 'B': 4, 'C': 7, 'D': 6}] 

pd.DataFrame.from_dict(data_c, orient='columns') A B C D 0 5 0 3 3 1 7 9 3 5 2 2 4 7 6

Fuente: https://www.iteramos.com/pregunta/84351/convertir-una-lista-de-diccionarios-en-un-dataframe-de-pandas

In [ ]:
ds1=pd.DataFrame.from_dict(lista,orient='columns')

In [ ]:
k1=((ds1['carlos'].astype(int))*1)
k1

In [ ]:
ds1['carlos']

In [ ]:
ds2=pd.DataFrame.from_dict(listalc,orient='columns')

In [ ]:
ds2.iat[0,1]

In [ ]:
ds2

In [ ]:
k2=((ds2['carlos'].astype(int))*1)
k2

In [ ]:
kt=k1.add(k2)

In [ ]:
kt